<div class="container">
    <div class="row">
       <div class="col-md-8 col-md-offset-2">
           <div class="panel panel-info">
               <div class="panel-body bg-info">
                   <h1 id="homeTitle">Home Page</h1>
               </div>

           </div>

           <p>This is the home page of the "first" spark demo codebase.</p>
           <p>Click on the login option in the navigation bar to continue through the demo.</p>
           <p>All of the data you will see in this demo is provided by $httpBackend mocks that return data to the service calls in the application.</p>

       </div>
    </div>
</div>


