<h2>Prospect Details</h2><br />

<div class="row well">

    <div class="row">
        <div class="col-md-2">
            <label>Name:</label>
        </div>
        <div>
            {{vm.prospect.fullName}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Phone Number:</label>
        </div>
        <div>
            {{vm.prospect.phone}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Email Address:</label>
        </div>
        <div>
            {{vm.prospect.email}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Mailing Address:</label>
        </div>
        <div>
            {{vm.prospect.address}}
        </div>
    </div>

</div>

<div class="row">
    <a href="#/auth/sales/salesPage" tabindex="2"> <span class="glyphicon glyphicon-chevron-left" /> Back</a>
</div>
